footer {
    width: 100%;

    background-color: rgb(52, 52, 52);

    margin-top: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-family: var(--text-family);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px var(--general-lateral-padding-page);
    width: 100%;

    /* padding: 30px 0; */
    box-sizing: border-box;
}

footer .footer-top-container > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    width: 100%;
    /* grid-auto-rows: minmax(auto, 100%); */

    box-sizing: border-box;
    max-width: var(--general-max-width);
    grid-gap: 20px;

}

footer .footer-top-container li h3 {
    margin: 0;
    padding: 0;
}

footer .footer-top-container li {
    padding: 5px 0;
}

footer .footer-top-container a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0 0 5px 0;

    background:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(
            to right,
            rgb(245, 63, 255),
            rgb(221, 255, 67),
            rgb(83, 169, 255)
        );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

footer .footer-top-container p {
    margin: 0;
    padding: 0;
}

footer .footer-bottom-container {
    background-color: rgb(35, 35, 35);
    width: 100%;
    text-align: center;
    font-size: .8em;
    box-sizing: border-box;
}

footer #payment-accept,
footer #made-in-britain {
    margin-top: 20px;
}

footer .footer-top-container a:hover, 
footer .footer-top-container a:active {
    background-size: 0 2px, 100% 2px;
}

#copyright {
    font-size: .8em;
}

@media (max-width: 400px) {
    .customer-services li:last-of-type {
        width: 200px;
    }
    footer #payment-accept {
        max-width: max-content;
    }
}

@media (max-width: 380px) {
    footer #payment-accept {
        height: auto;
        width: 100%;
    }

    .customer-services li:last-of-type {
        width: auto;
    }
}

@media (min-width: 400px) {
    footer .footer-top-container > div {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}