main {
    width: 100%;

    box-sizing: border-box;

    padding-top: 135px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}


.need-more-advice {
    width: 100%;
    height: 300px;
    margin-top: 0px;
    background-image: url(../../img/background-big-2.webp);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-family: var(--text-family);
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px var(--general-lateral-padding-page);
    color: white;
}

.need-more-advice section {
    width: 100%;
    max-width: var(--general-max-width);
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.need-more-advice h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .5),
                 -5px -5px 10px rgba(0, 0, 0, .5);
    font-size: 2.7em;
    letter-spacing: 5px;
    text-align: right;
    width: 100%;

    margin-bottom: 0;
}

.need-more-advice section > div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.need-more-advice h3 {
    text-align: center;
    width: 100%;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .5),
                 -5px -5px 10px rgba(0, 0, 0, .5);
    font-weight: lighter;
}

.ways-to-contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 var(--general-lateral-padding-page);
}

.ways-to-contact-us > div {
    max-width: var(--general-max-width);
    width: inherit;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 30px;

    box-sizing: border-box;
    font-family: var(--text-family);
}

.ways-to-contact-us .contact-item {
    min-width: 300px;
    /* min-height: 300px; */
    height: 160px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    transition-duration: 400ms;
    transition-property: border;
}

.ways-to-contact-us .contact-item:hover,
.ways-to-contact-us .contact-item:active {
    box-shadow: 0px 0px 20px rgba(92, 92, 92, 0.11);
}

.ways-to-contact-us .contact-item .info {
    transform: translateY(80px);
}

.ways-to-contact-us .contact-item .info ul {
    opacity: 0;
    transition-duration: 400ms;
}

.ways-to-contact-us .contact-item:hover .info ul,
.ways-to-contact-us .contact-item:active .info ul {
    opacity: 1;
}

.ways-to-contact-us .contact-item ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.ways-to-contact-us .contact-item li {
    margin: 10px 0;
    color: var(--text-color);
    font-size: .9em;
}

.ways-to-contact-us .contact-item a {
    text-decoration: none;
    color: var(--text-color)
}

.ways-to-contact-us .contact-item a:hover,
.ways-to-contact-us .contact-item a:active {
    text-decoration: underline;
}

.ways-to-contact-us .contact-item h3 {
    color: var(--title-color);
    margin-top: 0;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.ways-to-contact-us .contact-item img {
    /* width: 40px; */
    fill: var(--title-color);
    top: 0;
    margin: 0;
    padding: 0;

    position: absolute;
    top: initial;
    transition-duration: 400ms;
}

.ways-to-contact-us .contact-item:hover img,
.ways-to-contact-us .contact-item:active img  {
    transform: translateY(-70px) rotateY(180deg);
    opacity: 0;
}

.ways-to-contact-us .contact-item > div {
    transition-duration: 400ms;
}

.ways-to-contact-us .contact-item:hover > div,
.ways-to-contact-us .contact-item:active > div {
    transform: translateY(-80px);
}

.google-maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 0 var(--general-lateral-padding-page);
    box-sizing: border-box;
}

.google-maps > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--general-max-width);
    overflow: hidden;

    border-radius: 10px;
}

.google-maps img {
    display: block;
}

.google-maps > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 503px;

    padding: 0 var(--general-lateral-padding-page);
    box-sizing: border-box;
}

.google-maps a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;

    border-radius: 10px;
    max-width: var(--general-max-width);
}

.google-maps > div:last-of-type a:hover {
    transition-property: background;
    transition-duration: 400ms;
}

.google-maps > div:last-of-type a:hover {
    background: rgba(255, 255, 255, 0.4);
}

.google-maps > div:last-of-type a svg {
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in;

    opacity: 0;
}

.google-maps > div:last-of-type a:hover svg {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.google-maps svg {
    transform: scale3d(.6, .6, .6);
}


@media (max-width: 1350px) {
    .need-more-advice section > div svg {
        fill: white;
    }

    .need-more-advice h2 {
        text-align: center;
    }

    .need-more-advice section > div {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .need-more-advice section > div p {
        color: white;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
                    -5px -5px 10px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 900px) {

    main {
        padding-top: 100px;
    }

    .need-more-advice,
    .more-features-container {
        background-attachment: scroll;
    }

    .need-more-advice h2 {
        font-size: 1.4em;
    }

    .need-more-advice h2 span:first-of-type {
        margin-right: 0;
    }

    .need-more-advice h2 {
        font-size: 2em;
    }

    .need-more-advice p {
        font-size: 1em;
    }

    .need-more-advice p span {
        font-weight: bold;
        font-size: 1.2em;
    }
}

@media (max-width: 400px) {
    .need-more-advice h2 {
        font-size: 1.6em;
    }

    .need-more-advice p {
        font-size: .9em;
    }

    .need-more-advice p span {
        font-weight: bold;
        font-size: 1.1em;
    }

    .need-more-advice h2 {
        font-size: 1.3em;
    }
}